<div class="row">
    <h1>
        Capacitaciones realizadas
    </h1>
    <div class="contenedor">

        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>
                Seguridad Informatica
            </h3>
            <p>educ.ar</p>

        </div>

        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>
                Reparacion pc 
            </h3>
            <p>educ.ar</p>

        </div>

        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>
                Introduccion al diseño 
            </h3>
            <p>educ.ar</p>

        </div>

        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>
                Electrónica Discreta 
            </h3>
            <p>educ.ar</p>

        </div>

        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>
                Programa Básico Multidisciplinario de Formación en Datos e Inteligencia Artificial 
            </h3>
            <p>IALAB (UBA)</p>

        </div>   
        
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>
                Hacia una gestión colaborativa de conflictos 
            </h3>
            <p>educ.ar</p>

        </div>

        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>
                Comunicación Eficaz 
            </h3>
            <p>educ.ar</p>
        </div>  

        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>
                Certificado Curso Socorrismo 
            </h3>
            <p>CASA Socorrismo</p>    

        </div>

        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>
                Curso de Inglés para desarrolladores de software
            </h3>
            <p>Argentina Programa</p>

        </div>

        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>
                Introducción a los algoritmos y a la programación.
            </h3>
            <p>TodoCode Academy</p>

        </div>

        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>
                
Introducción a las Bases de Datos (con MySQL).
            </h3>
            <p>TodoCode Academy</p>

        </div>

        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>
                Git y GitHub desde cero.
            </h3>
            <p>TodoCode Academy</p>

        </div>

        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>
                Java para Principiantes.
            </h3>
            <p>TodoCode Academy</p>

        </div>


    </div>
</div>