<div class="row">
    <div class="container">
        <div class="logo">
            <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank"><img src="../../../assets/APLogo.png" alt="" id="logoAP"></a>

        </div>
        <div class="redes">
                <a href="https://github.com/javito72/" target="_blank"><img src="../../../assets/github.png" id="github"></a>           
                <a href="https://www.linkedin.com/in/christian-javier-lemos" target="_blank"><img src="../../../assets/linkedin.png" id="linkedin"></a>
                <a href="https://www.instagram.com/chrisdeparquechas/" target="_blank"><img src="../../../assets/instagram.png" id="instagram"></a>
                <a href="https://facebook.com/christianjavier.lemos/" target="_blank"><img src="../../../assets/facebook.png" id="facebook"></a> 
                <button type=""button class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
                <button type=""button class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>       
        </div>
    </div>
</div>
